In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

# Reading JSONs

In [2]:
dir_path = 'C:/Users/bommi/OneDrive/Data Analytics/Projects/Masai_Capstone_Project/world_bank_electricity_report/'

In [3]:
access_to_rural = dir_path+'access_to_elec_rural__world/API_EG.ELC.ACCS.RU.ZS_DS2_en_csv_v2_4364070.json'
access_to_urban = dir_path+'access_to_electricity_urban__world/API_EG.ELC.ACCS.UR.ZS_DS2_en_csv_v2_4367536.json'
access_to_world = dir_path+'access_to_electricity__total/API_EG.ELC.ACCS.ZS_DS2_en_csv_v2_4353549.json'
transmission_distribution_losses = dir_path+'electricity_power_transmissoin_distribution_losses/API_EG.ELC.LOSS.ZS_DS2_en_csv_v2_4357259.json'
production_by_nuclear = dir_path+'electricity_production_nuclear_sources/API_EG.ELC.NUCL.ZS_DS2_en_csv_v2_4357319.json'
production_by_oil = dir_path+'electricity_production_oil_sources/API_EG.ELC.PETR.ZS_DS2_en_csv_v2_4356435.json'
production_by_renewable = dir_path+'electricity_production_renewable_sources/API_EG.ELC.RNWX.KH_DS2_en_csv_v2_4356007.json'

In [4]:
access_to_rural_df = pd.read_json(access_to_rural)
access_to_urban_df = pd.read_json(access_to_urban)
access_to_world_df = pd.read_json(access_to_world)
transmission_distribution_losses_df =pd.read_json(transmission_distribution_losses)
production_by_nuclear_df = pd.read_json(production_by_nuclear)
production_by_oil_df= pd.read_json(production_by_oil)
production_by_renewable_df = pd.read_json(production_by_renewable)

# Figuring out dataframes and Columns

In [5]:
all_dfs = [access_to_rural_df,
access_to_urban_df,
access_to_world_df,
transmission_distribution_losses_df,
production_by_nuclear_df,
production_by_oil_df,
production_by_renewable_df]

In [6]:
num_cols=[]
for i in range(1960,2022):
    num_cols.append(i)
cat_cols=['Country_Name','Country_Code','Indicator_Name','Indicator_Code']
all_cols= cat_cols + num_cols

In [15]:
all_cols

['Country_Name',
 'Country_Code',
 'Indicator_Name',
 'Indicator_Code',
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

### Pre-proccessed preview of dataframe

In [7]:
all_dfs[2].head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66
0,Last Updated Date,2022-07-20,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,NaN,
1,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,1978.0,1979.0,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,1989.0,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021.0,
2,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,99.1536560058594,99.1971282958984,99.2399139404297,100,100,100,100,100,100,91.660400390625,100,100,100,100,100,100,100,100,100,93.3562927246094,100,100,100,100,100,100,100,100,100,100,NaN,
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,,,,,,,19.8112830487474,19.9005689869631,21.5258119502625,22.474309042094,23.7819183655274,23.4874149559786,24.7635379213968,26.7665177602956,25.9341794754403,26.1815567981524,27.5571371356059,29.0898268292514,31.8443844038242,31.794159992766,32.001026781227,33.8719104646129,38.8801732244203,40.261357595893,43.061876950924,44.2708604789338,45.8034852293868,NaN,
4,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,,,,,,,1.61359095573425,4.07457399368286,9.40915775299072,14.7385063171387,20.0649681091309,25.3908939361572,30.7186908721924,36.0510101318359,42.4000015258789,46.7400512695313,42.7000007629395,43.2220191955566,69.0999984741211,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422,NaN,

# Optimizing columns and data

In [8]:
for df in all_dfs:
    df.drop(index=0,columns=66,inplace=True)
    df.columns=all_cols
    df.drop(1, axis=0, inplace=True)
    df.reset_index(inplace=True)
    df.drop('index', axis=1,inplace=True)
    for v in num_cols:
        df[v]=pd.to_numeric(df[v], errors='coerce')

### Dataframe preview after optimization

In [9]:
all_dfs[2].head()

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,99.153656,99.197128,99.239914,100.000000,100.000000,100.000000,100.00000,100.00000,100.000000,91.660400,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,93.356293,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.811283,19.900569,21.525812,22.474309,23.781918,23.487415,24.763538,26.766518,25.934179,26.181557,27.557137,29.089827,31.844384,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN
2,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.613591,4.074574,9.409158,14.738506,20.064968,25.390894,30.718691,36.051010,42.400002,46.740051,42.700001,43.222019,69.099998,68.290649,89.500000,71.500000,97.699997,97.699997,96.616135,97.699997,97.699997,NaN
3,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.693097,32.714738,33.703684,32.748158,32.55254,33.54269,34.899477,34.150687,35.266461,35.761967,39.876237,37.545960,37.847036,39.836559,40.788779,41.744658,41.816861,41.799858,45.911474,44.167973,47.048316,47.599323,46.766294,50.953487,48.861191,51.259712,51.290193,52.111601,NaN
4,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.212744,20.000000,26.352118,27.412777,28.470551,29.527786,30.586895,37.500000,38.490002,33.802189,34.895638,34.599998,37.131321,38.278030,32.000000,42.000000,41.813129,43.013260,45.290001,45.642799,46.890610,NaN

### Treating Nulls with '0'
- Assumption: Representing null/NaN values with 0, assuming no access/loss/production

In [10]:
for df in all_dfs:
    df.fillna(0,inplace=True)

### Transforming all year columns to one.
- Year column having its respective year.
- Respective values should be followed in another column.

In [11]:
for i in range(7):
    all_dfs[i] = all_dfs[i][cat_cols].merge(all_dfs[i].set_index('Country_Code')[num_cols].stack().reset_index(),on='Country_Code')
    all_dfs[i] = all_dfs[i].rename(columns = {'level_1':'Year_Column',0:'Value_Column'})

### Final view of dataframe

In [12]:
all_dfs[2]

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,Year_Column,Value_Column
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,0.000000
1,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,1961,0.000000
2,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,1962,0.000000
3,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,1963,0.000000
4,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,1964,0.000000
...,...,...,...,...,...,...
16487,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,2017,44.178635
16488,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,2018,45.572647
16489,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,2019,46.781475
16490,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,2020,52.747669
16491,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,2021,0.000000

# Exporting CSVs

In [13]:
file_names=['access_to_rural',
'access_to_urban',
'access_to_world',
'transmission_distribution_losses',
'production_by_nuclear',
'production_by_oil',
'production_by_renewable']

In [14]:
for i in range(7):
    all_dfs[i].to_csv(file_names[i]+'.csv',index=False)